# Ignore all Android Studio project files
.idea/
*.iml

# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# NDK / CMake
.cxx/
externalNativeBuild/
.externalNativeBuild/

# Captures
captures/

# Mac OS
.DS_Store
